/*=======================================
GOOGLE FONTS
=======================================*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
/*=======================================
RESET
=======================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #232323;
  font-family: "Raleway", sans-serif;
  font-weight: 400;
  background-color: #f2f2f2;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h2 {
  color: #232323;
  font-size: 1.75rem;
  font-weight: 400;
  margin-bottom: 10px;
}
h3 {
  color: #232323;
  font-size: 1.25rem;
  text-transform: uppercase;
}
h4 {
  color: #232323;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.25px;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
/*=======================================
NAVBAR
=======================================*/
#header {
  background-color: #fff;
  position: fixed;
  width: 100%;
  z-index: 9;
}
.nav {
  height: 80px;
  background-color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  color: #232323;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25em;
}
.logo-icon {
  color: #25ced1;
  font-size: 1.5em;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}
.nav-link {
  color: #232323;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: 1.25px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  color: rgba(35, 35, 35, 0.8);
}
.nav-link:active {
  color: rgba(35, 35, 35, 0.9);
}
/*=======================================
HERO SECTION
=======================================*/
#hero {
  background: url(../images/hero.bg.jpg);
  background-size: cover;
  background-position: 150px -280px;
}
.hero-text {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero-title {
  color: #232323;
  font-size: 3rem;
  font-weight: 800;
  margin-bottom: 1rem;
}
.hero-description {
  color: #232323;
  font-size: 0.85rem;
  font-weight: 500;
  letter-spacing: 1.1px;
  text-transform: uppercase;
}
/*=======================================
SECTION-1
=======================================*/
#section-01 {
  position: relative;
  top: -60px;
}
.cards {
  display: flex;
  justify-content: center;
}
.card {
  width: 100%;
  padding: 5rem;
  background-color: #bfeaf5;
  border-radius: 1rem;
  box-shadow: 0 0 20px 5px hsla(0, 0%, 0%, 0.05);
}
.card.active {
  background-color: #def6ff;
  transform: scale(1, 1.1);
}
.card .phone-no,
.card-icon,
.card-title {
  color: rgb(20, 20, 161);
  margin-bottom: 1.5rem;
  font-weight: 500;
}
.card .phone-no {
  display: block;
  font-size: 1.4rem;
}
.card-icon {
  font-size: 3rem;
}
.card-title {
  color: #232323;
  font-size: 1.25rem;
  text-transform: uppercase;
}
.card p {
  font-size: 0.9rem;
  line-height: 1.5;
  font-weight: 400;
  color: #232323;
  margin-bottom: 3rem;
}
.btn {
  color: #232323;
  background-color: #fff;
  display: inline-block;
  font-size: 0.85rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  border-radius: 2rem;
  border: 2px solid #fff;
  transition: all 400ms ease;
}
.btn:hover {
  color: rgb(20, 20, 161);
  background: transparent;
  border-color: currentColor;
}

/*=======================================
ABOUT
=======================================*/
.section-pd {
  padding: 100px 0;
}
.section-center {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
#about h4,
#about p {
  margin-bottom: 2.5rem;
}
details {
  margin-bottom: 1rem;
  transition: all 400ms ease;
}
details summary {
  color: #232323;
  background-color: #fff;
  font-size: 1.1rem;
  font-weight: 600;
  padding: 1.25rem 1.5rem;
  border-radius: 5px;
  cursor: pointer;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
details summary::after {
  content: "\25bc";
  font-size: 1.5rem;
  float: right;
  transition: all 400ms ease;
}
#about details p {
  font-size: 0.95rem;
  margin-bottom: 0;
  background-color: #bfeaf5;
  padding: 0 1.5rem 1.25rem 1.5rem;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

details[open] summary,
details summary:hover {
  background: #bfeaf5;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

details[open] summary::after {
  transform: rotate(-180deg);
}
details[open] summary ~ * {
  animation: sweep 800ms ease-in-out;
}
@keyframes sweep {
  0% {
    opacity: 0;
    margin-top: -10px;
  }
  100% {
    opacity: 1;
    margin-top: 0px;
  }
}
/*=======================================
DEPARTMENTS
=======================================*/
#departments {
  background-color: #bfeaf5;
  padding: 6.25rem 0;
}
.section-header {
  text-align: center;
  margin-bottom: 3rem;
}
.section-title {
  color: #232323;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
.section-header p {
  text-transform: uppercase;
}
#departments .cards {
  background-color: #fff;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem 2rem;
  padding: 5rem;
  border-radius: 1rem;
  box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.1);
}
h3 {
  color: #232323;
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 10px;
}
.department-icon {
  color: #25ced1;
  font-size: 2rem;
  margin-bottom: 1.25rem;
}
#departments p {
  font-size: 0.9rem;
  line-height: 1.5;
}
