/*=======================================
GOOGLE FONTS
=======================================*/
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100..900&display=swap");
/*=======================================
RESET
=======================================*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  color: #323232;
  background-color: #fff;
  font-weight: 300;
  font-family: "Raleway", sans-serif;
  letter-spacing: 1px;
}
img {
  display: block;
  width: 100%;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  font-size: 0.875rem;
  line-height: 1.75;
}
h1 {
  color: #181616;
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 1rem;
}
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  margin-bottom: 0.625rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1rem;
  text-transform: uppercase;
}
h4 {
  font-size: 1.125rem;
  font-weight: 600;
}
h5 {
  font-size: 0.9rem;
  text-transform: uppercase;
  margin-bottom: 0.25rem;
}
h6 {
  font-size: 0.875rem;
  font-weight: 500;
  text-transform: uppercase;
}
.container {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}
.section-pd {
  padding: 6.25rem 0;
}
.section-bg {
  background-color: #f3f3f3;
}
.flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}
.section-center {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}
.section-header {
  text-align: center;
  margin-bottom: 3rem;
}
.btn {
  display: inline-block;
  color: #181616;
  background-color: #fff;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 1rem 2rem;
  border: 1.5px solid #fff;
  border-radius: 2rem;
  transition: all 400ms ease;
}
.btn-solid {
  background-color: #25ced1;
  border-color: #25ced1;
}
.btn-solid:hover {
  background-color: #fff;
}
.btn:hover {
  border-color: #0aa0f6;
}
/*=======================================
NAVBAR
=======================================*/
#header {
  position: fixed;
  background-color: #fff;
  width: 100%;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  z-index: 9;
}
.nav {
  height: 70px;
}
.logo {
  color: #181616;
  font-size: 1.25rem;
  font-weight: 800;
  text-transform: uppercase;
}
.logo span {
  color: #25ced1;
  font-size: 1.5em;
}
.nav-link {
  color: #181616;
  font-size: 0.875rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover {
  color: rgba(24, 22, 22, 0.8);
}
/*=======================================
HERO SECTION
=======================================*/
#hero {
  background: url(../images/hero.bg.jpg);
  background-size: cover;
  background-position: 150px -280px;
}
.hero-content {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*=======================================
SECTION-1
=======================================*/
#section-01 {
  position: relative;
  top: -60px;
}
.cards {
  gap: 0;
  align-items: initial;
}
.card {
  width: 100%;
  background-color: #bfeaf5;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  padding: 5rem 2.5rem;
}
.card-header {
  font-size: 2rem;
  margin-bottom: 1.25rem;
}
.card-body {
  margin-bottom: 5rem;
}
.card.active {
  background-color: #def6ff;
  transform: scaleY(1.1);
}
#section-01 .card {
  border-radius: 0.5rem;
}
#section-01 .card .card-header {
  color: #0aa0f6;
  border-radius: 0.5rem;
}
/*=======================================
ABOUT
=======================================*/
#about .section-header {
  text-align: left;
}
#about .section-center {
  grid-template-columns: repeat(2, 1fr);
}
details {
  margin-bottom: 0.5rem;
  transition: all 400ms ease;
}
details summary {
  color: #464545;
  font-size: 1.1rem;
  font-weight: 600;
  list-style: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
details summary::after {
  content: "\25bc";
  font-size: 1.5rem;
  transition: all 400ms ease;
}
details[open] summary::after {
  transform: rotate(-180deg);
}
details p {
  padding: 0 1.5rem 1.25rem 1.5rem;
}
#about details summary {
  background-color: #fff;
  padding: 1.25rem 1.5rem;
  border-radius: 0.25rem;
}
#about details p {
  background-color: #bfeaf5;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
#about details[open] summary {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
#about details summary:hover {
  background: #bfeaf5;
}
/*=======================================
DEPARTMENTS
=======================================*/
#departments {
  background-color: #bfeaf5;
}
#departments .section-center {
  gap: 3.5rem 2rem;
}
#departments .card-header {
  color: #0aa0f6;
}
/*=======================================
TESTIMONIAL
=======================================*/
#testimonial .section-header {
  text-align: left;
  margin-bottom: 1rem;
}
#testimonial .section-center {
  grid-template-columns: repeat(2, 1fr);
  padding: 0 6.25rem;
  gap: 5rem;
}
.department-items {
  background-color: #fff;
  padding: 5rem;
  border-radius: 0.5rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}
#testimonial p {
  text-align: left;
  margin-bottom: 2rem;
}
.testimonial-img img {
  height: 380px;
  object-fit: cover;
  object-position: 0 -40px;
}
/*=======================================
STATS
=======================================*/
#stats .section-center {
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
}
.box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.count {
  font-size: 4.5rem;
  font-weight: 800;
  margin-bottom: 0.625rem;
}
.bar {
  width: 50px;
  height: 2px;
  background-color: #25ced1;
  margin-bottom: 10px;
}
/*=======================================
OFFERS
=======================================*/
#offers {
  background-image: url(https://images.pexels.com/photos/7722797/pexels-photo-7722797.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-size: cover;
  background-attachment: fixed;
}
#offers .section-header {
  margin-bottom: 5rem;
}
.offer-card {
  text-align: center;
}
.offer-card.active {
  background-color: #fff;
}
.offer-card ul li {
  margin-bottom: 1rem;
}
/*=======================================
FAQ
=======================================*/
#faq .section-center {
  grid-template-columns: repeat(2, 1fr);
}
#faq details summary {
  padding: 0.625rem 1.5rem;
  border-radius: 0.25rem;
}
#faq details summary {
  color: #5a5a5a;
  font-size: 0.875rem;
  font-weight: 800;
}
#faq details[open] summary {
  background-color: #f1f1f1;
}
#faq details summary::after {
  font-size: 1rem;
  transition: all 400ms ease;
}
/*=======================================
CTA
=======================================*/
#cta .flex-center {
  gap: 1rem;
}
.cta-icon {
  color: #25ced1;
  font-size: 1.75rem;
}
.cta-item span,
.cta-item address {
  font-size: 0.75rem;
}
/*=======================================
CONTACTS
=======================================*/
#contacts .section-center {
  grid-template-columns: repeat(2, 1fr);
  gap: 5rem;
}
#contacts .section-header {
  text-align: left;
}
#contacts .section-header h6 {
  color: #0aa0f6;
}
.col-left img {
  height: 100%;
  object-fit: cover;
}
.form-input {
  color: #b5b5b5;
  font-size: 0.875rem;
  font-style: italic;
  width: 100%;
  padding: 1rem;
  margin-bottom: 2rem;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid #b5b5b5;
}
/*=======================================
FOOTER
=======================================*/
#footer {
  color: #fff;
  padding: 2.5rem 0;
  background-color: #1c1c1c;
}
#footer h3 {
  color: #fff;
  font-size: 1.25rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
}
.news {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}
.news img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
#footer ul li {
  margin-bottom: 0.675rem;
}
#site-footer {
  background-color: #2c2929;
}
.copyright {
  color: #fff;
  font-size: 0.75rem;
  padding: 1rem;
  text-align: center;
}
